.board {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.side-panel {
  position: absolute;
  width: 128px;
  height: 80vh;
  top: 0;
  right: 0;
  padding: 16px;
  background-color: #ddd;
}

.inspector {
  position: absolute;
  top: 0;
}

.controls {
  position: absolute;
  bottom: 0
}

.board-stage {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
