.board-stage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.side-panel {
  position: absolute;
  right: 0;
  max-width: 20vw;
  margin: 8px;
  padding: 16px;
  border: 1px #ddd solid;
}

.toybox {
  position: absolute;
  left: 0;
  max-width: 20vw;
  margin: 8px;
  padding: 16px;
  border: 1px #ddd solid;
}